@page "/atribuirnota"
@using IfroAlimenta.Models
@using IfroAlimenta.Controllers
@inject AvaliacaoController AvaliacaoController
@inject ProdutoController ProdutoController
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Avaliação de Produto</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="produto" class="form-label">Produto:</label>
                <select @bind="novaAvaliacao.ProdutoId" class="form-select" id="produto">
                    <option value="">Selecione aqui</option> <!-- Opção padrão -->
                    @foreach (var produto in produtos)
                    {
                        <option value="@produto.Id">@produto.Nome</option>
                    }
                </select>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="nota" class="form-label">Nota:</label>
                <select @bind="novaAvaliacao.Nota" class="form-select" id="nota">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>

    @if (enabledButton)
    {
        <button type="button" class="btn btn-warning" @onclick="Cancelar">CANCELAR</button>
        <button type="button" class="btn btn-success" @onclick="Salvar">SALVAR</button>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Avaliação cadastrada com sucesso!
        </div>
        <button type="button" class="btn btn-primary" @onclick="NovaAvaliacao">NOVA AVALIAÇÃO</button>
    }
</div>

@code {
    private Avaliacao novaAvaliacao = new Avaliacao { Data = DateTime.Now };
    private List<Produto> produtos = new List<Produto>();
    private bool enabledButton = true;

    protected override async Task OnInitializedAsync()
    {
        produtos = await ProdutoController.ListarProdutos();
    }

    private async Task Salvar()
    {
        await AvaliacaoController.Add(novaAvaliacao);
        await AvaliacaoController.Salvar();
        enabledButton = false;
    }

    private void Cancelar()
    {
        NavigationManager.NavigateTo("/atribuirnota");
    }

    private void NovaAvaliacao()
    {
        NavigationManager.NavigateTo("/atribuirnota", forceLoad: true);
        novaAvaliacao = new Avaliacao { Data = DateTime.Now };
        enabledButton = true;
    }
}
