@page "/ranking"
@using IfroAlimenta.Models
@using IfroAlimenta.Controllers
@inject AvaliacaoController AvaliacaoController
@rendermode InteractiveServer

<h4>Ranking de Produtos</h4>
@if (produtos != null && produtos.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Produto</th>
               
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < produtos.Count; i++)
            {
                <tr>
                    <td>@(i + 1)º</td> <!-- Mostra a posição (1º, 2º, 3º, etc.) -->
                    <td>@produtos[i].Nome</td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum produto encontrado.</p>
}


@code {
    private List<Produto> produtos = new List<Produto>();

    protected override async Task OnInitializedAsync()
    {
        produtos = await AvaliacaoController.ListarProdutosComMediaNotas();
    }
}
